
/* header{
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: gray;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: double;
} */

.jumbotron{
  color: black;
  background-image: url("img/YEWA.JPG");
}

/* .headerNav{
  justify-content: center;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
  display: flex;
  align-items: center;
} */

h1{
  padding-left: 18px;
  padding-right: 18px;
  justify-content: flex-start;
}

.headerLink{
  display: inline-block;         /*makes the LI items in header not bulleted*/
  padding:9px;
  color: white;
  margin: 6px;                   /*Adds unclickable space between links */
}

body{
  background-color: black;
  display: flex;
  flex-direction: column;              /*This makes the page content display vertically*/
  min-height: 100vh;                   /*This makes the footer visible*/
  flex-wrap: wrap;
  text-align: center;
}

main{
  padding-top: 30px;
  justify-content: center;
}

p{
  margin-bottom: 20px;
  font-weight: bold;
}

/*Photo Layout */

.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100vw;
}

.card{
  background-color: gray;
  margin: 18px;
  padding: 20px;
}

img{
  border-style: solid;
  border-color: yellow;
}
/*
img{
  border-style: solid;
  border-color: white;
  margin: 20px;
  min-width: 40vw;
  max-width: 80vw;
  position: relative;
} */

/* img:hover{
  opacity: .7;
} */

h4{
  flex-grow: 1;
}

/*Footer*/

footer{
  color: white;
  height: 50px;
  flex: 1;
  text-align: center;
}

.bottomLinks{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  padding-bottom: 6px;
}

h3{
  color: white;
  padding-top: 40px;
}

/* Media Queries */

/*In small screens make the images larger */
@media (min-width: 300px) {
  .card, img{
    max-width: 80vw;
  }
  .jumbotron{
    /*Make the jumbotron take up less space in small screen */
  }
  .wrapper{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 800px) {
  .card, img{
    max-width: 80vw;
    align-items: center;
    align-content: center;                 /*I can't figure out why the images won't center in single-column size */
  }
  .wrapper{
    grid-template-columns: repeat(2, 1fr);
  }

/*In a large screen make pictures smaller but in 3 columns*/
@media (min-width: 1300px) {
  .card, img{
    max-width: 40vw;
  }
  .wrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}
